@import (reference) "misc.less";

@img-path: '../../img/';

@screen-height: 100vh;
@character-panel-width: 90px;
@map-tile-size: 90px;

@wall-color: black;
@corridor-width: 40px;
@wall-thickness: 6px;
@doorway-width: 20px;
@door-width: 30px;
@door-color: #999;

@action-button-size: 60px;

.team-setup {
	.characters {
		.clearfix();
		margin: 26px 26px 10px;

		.character-wrapper {
			float: left;
			margin: 0 2px;
			&.selected {
				.character-panel {
					box-shadow: 0px 0px 1px 4px green;
				}
			}
		}
	}
}

.skill-bar {
	.clearfix();
    margin: 3px 6px;
    clear: both;

	img {
	    float: left;
	}

	.skill-gauge {
	    float: left;
	    border: 3px solid black;
	    border-radius: 3px;

		.skill-cell {
		    width: 10px;
		    height: 10px;
		    float: left;
		
			&.set {
			    background-color: black;
			    border: 1px solid white;
			}
		}
	}

}

.character-panel {
	.clearfix();
	position: relative;
	background: url('@{img-path}character-panel.png');
	width: @character-panel-width;

	.image {
		position: relative;
		height: 90px;
		background-image: url('@{img-path}character.png');
		clear: both;
	}

	.name {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}

	.health {
		color: transparent;
		width: 100%;
		background: rgba(255, 0, 0, 0.4);
		position: absolute;
		bottom: 0;
		transition: height 0.3s;
	}

	&.dead {
		.image {
			background-image: url('@{img-path}character-dead.png');
		}
	}

	&.inactive {
		.weapon {
			background-color: #444;
    		opacity: 0.4;
		}
	}
}

.item-slot {
	@item-slot-height: 35px;

	position: relative;
	height: @item-slot-height;
	width: 100%;
	float: left;

	&.selected {
		background-color: rgba(0, 255, 0, 0.3);
	}

	.weapon-hit, .weapon-miss { 
		display: none;
	}

	.item {
		position: relative;

		.item-image {
			margin: 0 auto;
			display: block;
		}


		.ammo, .charges {
			position: absolute;
			right: 4px;
			bottom: 4px;
			z-index: 50;
		}
	}

	&.weapon {
		.reloading:not(.ng-hide) {
			position: absolute;
		    top: 6px;
		    left: 15px;
		    transform: rotate(8deg);
		    -webkit-transform: rotate(8deg);
		    color: #F66;
		    font-weight: 800;
		    font-size: 18px;
		    z-index: 60;
		    -webkit-text-stroke: 1px red;

		    + img {
		    	opacity: 0.3;
		    }
		}

		.weapon-hit {
			line-height: @item-slot-height;
			text-align: center;
			color: white;
			font-weight: bold;

			position: absolute;
			display: block;
		    height: 100%;
		    width: 100%;
			background: url('@{img-path}anim/hit.png');
			z-index: 80;
			opacity: 0;
		}
		.weapon-miss {
			line-height: @item-slot-height;
			text-align: center;
			color: white;
			font-weight: bold;

			position: absolute;
			display: block;
		    height: 100%;
		    width: 100%;
			background: url('@{img-path}anim/miss.png');
			z-index: 80;
			opacity: 0;
		}
	}

	&.large {
		width: 60%;
	}
	&.small {
		width: 40%;
	}
}

.game {
	.team-panel {
		width: @character-panel-width * 2;
		float: left;

		.character-panel {
			float: left;
		}
	}

	.loot-window {
		position: absolute;
		width: 90px;
		top: 20px;
		left: 10px;
		background: url('@{img-path}loot-window.png') top left repeat-y white;
		z-index: 400;
	}

	.game-area {
		height: @screen-height;
		position: relative;
		overflow: hidden;

		.map {
			position: absolute;
			width: @map-tile-size * 50;
			transition: 1s top, 1s left;
		}

		.team {
			@dot-size: 10px;
			position: absolute;
		    top: 50%;
		    left: 50%;

		    width: @dot-size;
		    height: @dot-size;

		    margin-top: -@dot-size / 2;
		    margin-left: -@dot-size / 2;

		    background-color: red;
		    border-radius: 10px;

		    z-index: 200;

			.pulse {
				position: absolute;
			    border-radius: 90px;
			    top: @dot-size / 2;
			    left: @dot-size / 2;

			    -webkit-animation: pulse 2s linear;
			    -webkit-animation-iteration-count: infinite;
			}
		}


		.action-direction {
			@padding: 7px;

		    position: absolute;
		    top: 50%;
		    left: 50%;
		    width: @map-tile-size * 2;
		    height: @map-tile-size * 2;
		    z-index: 300;

		    &.W {
		    	margin-left: @map-tile-size * -2.5 + @padding;
		    	margin-top: @map-tile-size * -1;
		    }
		    &.N {
		    	margin-left: @map-tile-size * -1;
		    	margin-top: @map-tile-size * -2.5 + @padding;
		    }
		    &.E {
		    	margin-left: @map-tile-size * 0.5 - @padding;
		    	margin-top: @map-tile-size * -1;
		    }
		    &.S {
		    	margin-left: @map-tile-size * -1;
		    	margin-top: @map-tile-size * 0.5 - @padding;
		    }
		    &.center {
		    	margin-left: @map-tile-size * -0.5 + @padding;
		    	margin-top: @map-tile-size * -0.5 + @padding;
			    width: @map-tile-size - @padding * 2;
			    height: @map-tile-size - @padding * 2;
		    }
		}
	}

	.action-panel {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 500;

		.action {
			line-height: @action-button-size;
			width: @action-button-size;
			text-align: center;
			margin-bottom: 10px;

			border: 3px solid green;
			border-radius: 5px;
			background: lime;
		}

		.action-progress {
			position: absolute;
			top: 0px;
			right: @action-button-size + 10;
			width: 100px;
			height: 20px;

			border: 2px solid green;
			border-radius: 2px;
			background: black;

			.progress-bar {
				background: lime;
				height: 100%;
			}
		}
	}

	.game-over {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 9000;
		background: rgba(0, 0, 0, 0.4);

		.exit-button-wrapper {
			position: absolute;
			top: 50%;
			left: 50%;

			.exit-button {
				margin-left: -50%;
			    margin-right: 50%;
				padding: 10px;
				font-size: 200%;
				background: white;
				border: 4px solid black;
				border-radius: 10px;
			}
		}
	}
}

.map {

	.column {
		float: left;

		.tile {
			position: relative;
			width: @map-tile-size;
			height: @map-tile-size;
			opacity: 0;
			padding: 10px;
			transition: opacity 0.3s;
			-webkit-transition: opacity 0.3s;

			&.start::before {
				content: 'START!';
			}

			&.finish::before {
				content: 'FINISH!';
			}

			&.revealed {
				opacity: 0.4;
			}

			&.visible {
				opacity: 1;

				.enemy {
					visibility: inherit;
				}
			}

			.animation {
				@animation-size: @map-tile-size - 20;

			    width: @animation-size;
			    height: @animation-size;
			    position: absolute;
			    top: (@map-tile-size - @animation-size) / 2;
			    left: (@map-tile-size - @animation-size) / 2;

			    z-index: 45;

				&.explosion {
					@frames: 30;
					background: url('@{img-path}anim/explosion.png') left center no-repeat;
					background-size: @animation-size * @frames @animation-size;
					animation: explosion .8s steps(@frames);

					@keyframes explosion {
						100% { background-position: -@animation-size * @frames; }
					}
				}
			}


			&.area {
				background: #EEE;

				.wall {
					z-index: 50;
					background: @wall-color;
					border: (@map-tile-size - @doorway-width) / 2 solid @wall-color;
					border-top: none;
					border-bottom: none;
					width: @map-tile-size + @wall-thickness;
					height: @wall-thickness;
					
					position: absolute;
					top: 50%;
					left: -@wall-thickness / 2;
					margin-top: -@wall-thickness / 2;

					&.has-door {
						background: none;
					}

					&.N {
						transform: translateY(-@map-tile-size / 2);
						-webkit-transform: translateY(-@map-tile-size / 2);
					}
					&.S {
						transform: translateY(@map-tile-size / 2);
						-webkit-transform: translateY(@map-tile-size / 2);
					}
					&.W {
						transform: translateX(-@map-tile-size / 2) rotate(90deg);
						-webkit-transform: translateX(-@map-tile-size / 2) rotate(90deg);
					}
					&.E {
						transform: translateX(@map-tile-size / 2) rotate(90deg);
						-webkit-transform: translateX(@map-tile-size / 2) rotate(90deg);
					}

					.door {
						width: @door-width + 1;
						height: @wall-thickness + 4;
						top: -2px;
						border: (@door-width / 2) solid @door-color;
						border-top: none;
						border-bottom: none;
						outline: 1px solid #EEE;
						position: absolute;
						left: 50%;
						margin-left: -@door-width / 2;
						transition: all 0.5s;

						&.opened {
							width: @doorway-width + @door-width;
							margin-left: (-@doorway-width - @door-width) / 2;
						}

						&.security-1 {
    						border-color: orange;
						}
						&.security-2 {
    						border-color: orangered;
						}
						&.security-3 {
    						border-color: darkred;
						}
					}
				}
			}
		}
	}

	.enemies-panel {
		position: absolute;
		top: 3px;
		right: 3px;
	    text-align: right;

		.enemy {
			visibility: hidden;
			z-index: 15;

			.enemyCount {
				vertical-align: top;
				display: inline-block;
				padding: 2px 5px;
			}

			.enemyIcon {
				display: inline-block;
				width: 20px;
				height: 20px;

				&.crawler {
					background-color: cyan;
				}
				&.walker {
					background-color: green;
				}
				&.runner {
					background-color: red;
				}
				&.hulk {
					background-color: black;
				}
			}
		}
	}
}
