@import (reference) "misc.less";

@img-path: '../../img/';

@screen-height: 100vh;
@character-panel-width: 90px;
@map-tile-size: 90px;

@wall-color: black;
@corridor-width: 40px;
@wall-thickness: 6px;
@doorway-width: 20px;
@door-width: 30px;
@door-color: #999;

@action-button-size: 60px;

.team-setup {
	.characters {
		.clearfix();
		margin: 26px 26px 10px;

		.character-wrapper {
			float: left;
			margin: 0 2px;
			&.selected {
				.character-panel {
					box-shadow: 0px 0px 1px 4px green;
				}
			}
		}
	}
}

.game {

	.team-panel {
		width: @character-panel-width * 2;
		float: left;

		.character-panel {
			float: left;
		}
	}

	.loot-window {
		position: absolute;
		width: 90px;
		top: 20px;
		left: 10px;
		background: url('@{img-path}loot-window.png') top left repeat-y white;
		z-index: 400;
	}

	.ammo-status {
		color: lime;
		position: absolute;
		top: 3px;
		right: 3px;
		.ammo-slot {
			float: right;
			margin-left: 20px;

			.ammo-icon {
				vertical-align: top;
			}
		}
	}

	.action-panel {
		position: absolute;
		right: 10px;
		top: 26px;
		z-index: 500;

		.action {
			line-height: @action-button-size;
			width: @action-button-size;
			text-align: center;
			margin-bottom: 10px;

			border: 3px solid green;
			border-radius: 5px;
			background: lime;
		}

		.action-progress {
			position: absolute;
			top: 0px;
			right: @action-button-size + 10;
			width: 100px;
			height: 20px;

			border: 2px solid green;
			border-radius: 2px;
			background: black;

			.progress-bar {
				background: lime;
				height: 100%;
			}
		}
	}

	.game-area {
		background: #111;
		height: @screen-height;
		position: relative;
		overflow: hidden;

		.top-left-info-panel {
			color: lime;
			position: absolute;
			top: 0;
			left: 0;
		}

		.map {
			.game-ready& {
				transition: 1s top, 1s left;
			}
			position: absolute;
			width: @map-tile-size * 50;
		}

		.team {
			@dot-size: 10px;
			position: absolute;
		    top: 50%;
		    left: 50%;

		    width: @dot-size;
		    height: @dot-size;

		    margin-top: -@dot-size / 2;
		    margin-left: -@dot-size / 2;

		    background-color: red;
		    border-radius: 10px;

		    z-index: 200;

			.pulse {
				position: absolute;
			    border-radius: 90px;
			    top: @dot-size / 2;
			    left: @dot-size / 2;

			    -webkit-animation: pulse 2s linear;
			    -webkit-animation-iteration-count: infinite;
			    -moz-animation: pulse 2s linear;
			    -moz-animation-iteration-count: infinite;
			    animation: pulse 2s linear;
			    animation-iteration-count: infinite;
			}
		}


		.action-direction {
			@padding: 7px;

		    position: absolute;
		    top: 50%;
		    left: 50%;
		    width: @map-tile-size * 2;
		    height: @map-tile-size * 2;
		    z-index: 300;

		    &.W {
		    	margin-left: @map-tile-size * -2.5 + @padding;
		    	margin-top: @map-tile-size * -1;
		    }
		    &.N {
		    	margin-left: @map-tile-size * -1;
		    	margin-top: @map-tile-size * -2.5 + @padding;
		    }
		    &.E {
		    	margin-left: @map-tile-size * 0.5 - @padding;
		    	margin-top: @map-tile-size * -1;
		    }
		    &.S {
		    	margin-left: @map-tile-size * -1;
		    	margin-top: @map-tile-size * 0.5 - @padding;
		    }
		    &.center {
		    	margin-left: @map-tile-size * -0.5 + @padding;
		    	margin-top: @map-tile-size * -0.5 + @padding;
			    width: @map-tile-size - @padding * 2;
			    height: @map-tile-size - @padding * 2;
		    }
		}
	}
}

.game-over {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9000;
	background: rgba(0, 0, 0, 0.4);

}

.big-button-wrapper {
	position: absolute;
	top: 40%;
	left: 50%;

	.big-button {
		margin-left: -50%;
	    margin-right: 50%;
	    margin-bottom: 10px;
		padding: 10px;
		font-size: 200%;
		background: white;
		border: 4px solid black;
		border-radius: 10px;

		&[disabled] {
			color: darkgray;
			border-color: darkgray;
		}
	}
}

.loading-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: darkgrey;
	opacity: 0;
	transition: opacity 0.4s;
	pointer-events: none;
	z-index: 9100;

	.loading-animation {
		position: absolute;
		top: 70%;
		right: 50%;
		margin-right: -100px;
		width: 200px;
		height: 25px;
		border: 3px solid black;
		border-radius: 6px;
		opacity: 0;
		transition: opacity 0.3s;
		background: url('@{img-path}anim/loading.png') white;
		-webkit-animation: loading-animation 0.4s linear;
	    -webkit-animation-iteration-count: infinite;
		-moz-animation: loading-animation 0.4s linear;
	    -moz-animation-iteration-count: infinite;
		animation: loading-animation 0.4s linear;
	    animation-iteration-count: infinite;
	}

	&.loading-in-progress {
		opacity: 1;
		pointer-events: all;

		.loading-animation {
			opacity: 1;
		}
	}
}
