// .map {
// 	.tile {
// 		opacity: 1 !important;

// 		.enemy {
// 			visibility: visible !important;
// 		}
// 	}
// }

.map {
	.column {
		float: left;

		.tile {
			position: relative;
			width: @map-tile-size;
			height: @map-tile-size;
			opacity: 0;
			padding: 10px;
			transition: opacity 0.3s, filter 0.3s;
			-webkit-transition: opacity 0.3s, -webkit-filter 0.3s;

			&.start::before {
				content: 'START!';
				position: absolute;
				z-index: 65;
			}

			&.finish::before {
				content: 'FINISH!';
				position: absolute;
				z-index: 65;
			}

			&.revealed {
				opacity: 1;
				filter: brightness(0.4);
				-webkit-filter: brightness(0.4);
			}

			&.visible {
				filter: brightness(1);
				-webkit-filter: brightness(1);

				.enemy {
					visibility: inherit;
				}
			}

			.room-type {
				position: absolute;
				bottom: 5px;
			    z-index: 60;
			}

			.items {
				position: absolute;
			    top: 20px;
				width: 13px;
				height: 13px;
				background: url('@{img-path}rooms/icons/items.png'); 
				z-index: 60;
			}

			.animation {
				@animation-size: @map-tile-size - 20;

			    width: @animation-size;
			    height: @animation-size;
			    position: absolute;
			    top: (@map-tile-size - @animation-size) / 2;
			    left: (@map-tile-size - @animation-size) / 2;

			    z-index: 45;

				&.explosion {
					@frames: 30;
					background: url('@{img-path}anim/explosion.png') left center no-repeat;
					background-size: @animation-size * @frames @animation-size;
					animation: explosion .8s steps(@frames);

					@keyframes explosion {
						100% { background-position: -@animation-size * @frames; }
					}
				}
			}


			&.area {
				@wall-thickness: 6px;
				@wall-height: 9px;

				.floor-tile {
					width: @map-tile-size + @wall-thickness;
					height: @map-tile-size + @wall-thickness + @wall-height;
					position: absolute;
					top: -@wall-thickness / 2;
					left: -@wall-thickness / 2;
					background: url('@{img-path}rooms/Corridor.png');
				}

				&.N-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorN.png');
				}
				&.E-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorE.png');
				}
				&.W-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorW.png');
				}
				&.S-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorS.png');
				}
				&.N-corridor.E-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorNE.png');
				}
				&.N-corridor.W-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorNW.png');
				}
				&.E-corridor.S-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorES.png');
				}
				&.W-corridor.S-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorWS.png');
				}
				&.N-corridor.S-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorNS.png');
				}
				&.E-corridor.W-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorEW.png');
				}
				&.E-corridor.W-corridor.S-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorEWS.png');
				}
				&.N-corridor.W-corridor.S-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorNWS.png');
				}
				&.N-corridor.E-corridor.S-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorNES.png');
				}
				&.N-corridor.E-corridor.W-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorNEW.png');
				}
				&.N-corridor.E-corridor.W-corridor.S-corridor .floor-tile {
					background: url('@{img-path}rooms/CorridorNEWS.png');
				}
				&.room .floor-tile {
					background: url('@{img-path}rooms/Room.png');
				}

				&:not(.light)::after {
					content: "";
					position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    z-index: 65;
				    // box-shadow: 0 0 90px 0px black inset;
				    background: rgba(0,0,0,0.9);
				}

				&.flashlight-light::after {
					content: "";
					position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    z-index: 65;
				    // box-shadow: 0 0 90px 0px black inset;
				    transition: background 0.3s cubic-bezier(0, 2.35, 0,-0.52); //cubic-bezier(0.17, 1.79, 0,-1.35)
				    background: rgba(0,0,0,0);
				}

				.wall.has-wall {
					z-index: 50;

					.door {
						display: none;
					}

					&.has-door .door {
						display: block;
					}

					&.N {
						@door-width: 46px;
						@door-height: 21px;

						position: absolute;
						left: (@map-tile-size - @door-width) / 2;
						top: -@wall-thickness / 2;
						width: @door-width;
						height: @door-height;

						&:not(.has-door) {
							background: url('@{img-path}rooms/walls/N.png') left center;
						}

						.door {
							width: @door-width;
							height: @door-height;
							background: url('@{img-path}rooms/doors/door-N-0.png') left center;

							&.security-1 {
								background: url('@{img-path}rooms/doors/door-N-1.png') left center;
							}
							&.security-2 {
								background: url('@{img-path}rooms/doors/door-N-2.png') left center;
							}
							&.security-3 {
								background: url('@{img-path}rooms/doors/door-N-3.png') left center;
							}
						}

						&.opened .door {
							@frames: 9;
							animation: door-N 0.4s steps(@frames);
						    animation-fill-mode: forwards;

							@keyframes door-N {
								100% { background-position: -@door-width * @frames; }
							}
						}
					}

					&.S {
						@door-width: 46px;
						@door-height: 15px;

						position: absolute;
						left: (@map-tile-size - @door-width) / 2;
						top: @map-tile-size - @wall-thickness / 2;
						width: @door-width;
						height: @door-height;

						&:not(.has-door) {
							background: url('@{img-path}rooms/walls/S.png') left center;
						}

						.door {
							width: @door-width;
							height: @door-height;
							background: url('@{img-path}rooms/doors/door-S-0.png') left center;

							&.security-1 {
								background: url('@{img-path}rooms/doors/door-S-1.png') left center;
							}
							&.security-2 {
								background: url('@{img-path}rooms/doors/door-S-2.png') left center;
							}
							&.security-3 {
								background: url('@{img-path}rooms/doors/door-S-3.png') left center;
							}
						}

						&.opened .door {
							@frames: 9;
							animation: door-S 0.4s steps(@frames);
						    animation-fill-mode: forwards;

							@keyframes door-S {
								100% { background-position: -@door-width * @frames; }
							}
						}
					}

					&.W {
						@door-width: 6px;
						@door-height: 46px;

						position: absolute;
						left: -@wall-thickness / 2;
						top: (@map-tile-size - @door-height) / 2;
						width: @door-width;
						height: @door-height;

						&:not(.has-door) {
							background: url('@{img-path}rooms/walls/W.png') left center;
						}

						.door {
							width: @door-width;
							height: @door-height;
							background: url('@{img-path}rooms/doors/door-EW-0.png') left center;

							&.security-1 {
								background: url('@{img-path}rooms/doors/door-EW-1.png') left center;
							}
							&.security-2 {
								background: url('@{img-path}rooms/doors/door-EW-2.png') left center;
							}
							&.security-3 {
								background: url('@{img-path}rooms/doors/door-EW-3.png') left center;
							}
						}

						&.opened .door {
							@frames: 9;
							animation: door-W 0.4s steps(@frames);
						    animation-fill-mode: forwards;

							@keyframes door-W {
								100% { background-position: -@door-width * @frames; }
							}
						}
					}

					&.E {
						@door-width: 6px;
						@door-height: 46px;

						position: absolute;
						left: @map-tile-size - @wall-thickness / 2;
						top: (@map-tile-size - @door-height) / 2;
						width: @door-width;
						height: @door-height;

						&:not(.has-door) {
							background: url('@{img-path}rooms/walls/E.png') left center;
						}

						.door {
							width: @door-width;
							height: @door-height;
							background: url('@{img-path}rooms/doors/door-EW-0.png') left center;

							&.security-1 {
								background: url('@{img-path}rooms/doors/door-EW-1.png') left center;
							}
							&.security-2 {
								background: url('@{img-path}rooms/doors/door-EW-2.png') left center;
							}
							&.security-3 {
								background: url('@{img-path}rooms/doors/door-EW-3.png') left center;
							}
						}

						&.opened .door {
							@frames: 9;
							animation: door-E 0.4s steps(@frames);
						    animation-fill-mode: forwards;

							@keyframes door-E {
								100% { background-position: -@door-width * @frames; }
							}
						}
					}
				}
			}
		}
	}

	.enemies-panel {
		position: absolute;
		top: 3px;
		right: 3px;
	    text-align: right;
	    z-index: 60;

		.enemy {
			visibility: hidden;
			z-index: 15;

			.enemyCount {
				vertical-align: top;
				display: inline-block;
				padding: 2px 5px;
			}

			.enemyIcon {
				display: inline-block;
				width: 20px;
				height: 20px;

				&.walker {
					background: url('@{img-path}enemies/Walker.png');
				}
				&.runner {
					background: url('@{img-path}enemies/Runner.png');
				}
				&.crawler {
					background: url('@{img-path}enemies/Crawler.png');
				}
				&.brute {
					background: url('@{img-path}enemies/Brute.png');
				}
				// &.crawler {
				// 	background-color: cyan;
				// }
				// &.walker {
				// 	background-color: green;
				// }
				// &.runner {
				// 	background-color: red;
				// }
				// &.hulk {
				// 	background-color: black;
				// }
			}
		}
	}
}
