html, body, div, span, ul, li, a {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
}

* {
	-webkit-user-drag: none;
}

::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}
