.tutorial-overlay {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	opacity: 0;
	z-index: 10000;
    transition: opacity 0.4s;
    display: none;

    &::after {
    	content: "Tap to continue";

    	position: fixed;
    	right: 5px;
    	bottom: 5px;

		color: white;
	    text-shadow: 0 0 4px black;
	    font-size: 120%;
    }
}

.tutorial-highlight {
	background-color: white;
    z-index: 10010;
    position: fixed;
    border-radius: 400px;
}

.tutorial-text {
	z-index: 10010;
	position: fixed;
	top: 10px;
	width: 100%;
	text-align: center;
	font-size: 150%;
	color: white;
	z-index: 10010;
    text-shadow: 0 0 9px black, 0 0 9px black, 0 0 9px black, 0 0 9px black;
}