.tutorial-overlay {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	opacity: 0;
	z-index: @zIndex-tutorial-overlay;
    transition: opacity 0.4s;
    display: none;
}

.tutorial-highlight {
	background-color: white;
    z-index: @zIndex-tutorial-highlight;
    position: fixed;
    border-radius: 400px;
}

.tutorial-text {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 150%;
	color: white;
	z-index: @zIndex-tutorial-text;
    text-shadow: 0 0 9px black, 0 0 9px black, 0 0 9px black, 0 0 9px black;

    &.top {
		top: 10px;
		bottom: inherit;
	}
}

